<launch>
  <arg name="launch_prefix" default="" /> <!-- set to value="gdbserver localhost:10000" for remote debugging -->
  <arg name="node_namespace" default="ubiquityrobot" />
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
  <!-- <include file="$(find pi_cam)/launch/web_video.launch" /> -->
  <include file="$(find pi_driver)/launch/pi_driver_node.launch" />
</launch>
