<launch>
  <arg name="launch_prefix" default="" /> <!-- set to value="gdbserver localhost:10000" for remote debugging -->
  <arg name="node_namespace" default="ubiquityrobot" />

  <group ns="$(arg node_namespace)">
    <include file="$(find pi_driver)/launch/joystick_node.launch" />
  </group>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
  <!-- <include file="$(find pi_cam)/launch/web_video.launch" /> -->
</launch>
